/* src/pages/CreateCar.css */

.create-car {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--surface-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
  
  .create-car h2 {
    margin-top: 0;
  }
  
  .create-car form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .create-car label {
    display: flex;
    flex-direction: column;
  }
  
  .create-car input {
    padding: 0.5rem;
  }
  
  .create-car button {
    padding: 0.5rem 1rem;
  }
  
  .create-car button:hover {
    background-color: var(--primary-dark);
  }
  