.trackside {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dashboard {
  display: flex;
  width: 100%;
}

.left-column {
  width: 25%;
  padding-right: 20px;
  border-right: 1px solid #ddd;
}

.right-column {
  width: 75%;
  padding-left: 20px;
}

.notes-columns {
  display: flex;
  gap: 20px;
}

.notes-columns .box {
  /* Each notes box should take up half of the available width while leaving
     space for the gap between them */
  flex: 0 0 calc(50% - 10px);
  width: calc(50% - 10px);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  cursor: pointer;
}

li.highlight {
  background-color: #f0f0f0;
  font-weight: bold;
}

ul li.selected {
  color: red; /* Change the color as needed */
  font-weight: bold; /* Optional: Makes the text bold */
}

.box {
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%; /* Ensure the box takes full width */
  background-color: var(--surface-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.create-event {
  margin-top: 20px;
}

.create-event form {
  display: flex;
  flex-direction: column;
}

.create-event label {
  margin-bottom: 10px;
}

.create-event input {
  margin-bottom: 5px;
}

.notes-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.notes-label {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

.notes-input {
  flex: 2;
  text-align: left;
}

.search-controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-controls input {
  flex: 1;
  margin-right: 10px;
}

.search-controls button {
  margin-left: 5px;
}

.search-controls button.active {
  font-weight: bold;
}

.save-notes {
  margin-top: 20px;
}
